.nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 0 6px;
    list-style: none;
}

.nav-list-element {
    padding: 2px;

    &[inert] .link {
        color: #cdd1d4;
    }
}

.link {
    position: relative;
    display: block;
    padding: 2px 0;
    font-size: 14px;
    color: #2c73a8;
    text-decoration: none;
    transition: color 250ms;
}

.link::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: -6px;
    background-color: currentColor;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 250ms ease-out 125ms;
}

.link:hover {
    color: #05365c;
}

.link_active {
    color: #0766ad;
}

.link:hover::after,
.link_active::after {
    transform-origin: bottom;
    transform: scaleY(1);
}
