.main-header {
    display: grid;
    grid-template-columns: 280px 1fr;
    align-items: center;
    padding: 8px 16px;
}

.main-header__title {
    justify-self: end;
    font-size: 16px;
    margin: 0;
}
